<?xml version="1.0" encoding="utf-8"?>
<mgcb>
  <Global>
    <Parameter Name="outputDir" Value="bin/${Platform}"></Parameter>
    <Parameter Name="intermediateDir" Value="obj/${Platform}"></Parameter>
    <Parameter Name="platform" Value="DesktopGL"></Parameter>
    <Parameter Name="config" Value=""></Parameter>
    <Parameter Name="profile" Value="Reach"></Parameter>
    <Parameter Name="compress" Value="False"></Parameter>
  </Global>
  <References></References>
  <Content>
    <Asset Type="Image" Name="ShyCat" Path="Images/ShyCat.png">
      <Parameter Name="importer" Value="TextureImporter"></Parameter>
      <Parameter Name="processor" Value="TextureProcessor"></Parameter>
      <Parameter Name="processorParam" Value="colorkeycolor=255,0,255,255"></Parameter>
      <Parameter Name="processorParam" Value="colorkeyenabled=True"></Parameter>
      <Parameter Name="processorParam" Value="generatemipmaps=False"></Parameter>
      <Parameter Name="processorParam" Value="premultiplyalpha=True"></Parameter>
      <Parameter Name="processorParam" Value="resizetopoweroftwo=False"></Parameter>
      <Parameter Name="processorParam" Value="makesquare=False"></Parameter>
      <Parameter Name="processorParam" Value="textureformat=Color"></Parameter>
    </Asset>
    <Asset Type="Image" Name="char" Path="Images/char.png">
      <Parameter Name="importer" Value="TextureImporter"></Parameter>
      <Parameter Name="processor" Value="TextureProcessor"></Parameter>
      <Parameter Name="processorParam" Value="colorkeycolor=255,0,255,255"></Parameter>
      <Parameter Name="processorParam" Value="colorkeyenabled=True"></Parameter>
      <Parameter Name="processorParam" Value="generatemipmaps=False"></Parameter>
      <Parameter Name="processorParam" Value="premultiplyalpha=True"></Parameter>
      <Parameter Name="processorParam" Value="resizetopoweroftwo=False"></Parameter>
      <Parameter Name="processorParam" Value="makesquare=False"></Parameter>
      <Parameter Name="processorParam" Value="textureformat=Color"></Parameter>
    </Asset>
  </Content>
</mgcb>