<?xml version="1.0" encoding="utf-8"?>\
<mgcb>
    <Global>
        <Parameter OutputDirectory="bin/${Platform}"/>
        <Parameter IntermediateDirectory="obj/${Platform}"/>
        <Parameter Platform="DesktopGL"/>
        <Parameter Config=""/>
        <Parameter Profile="Reach"/>
        <Parameter Compress="False"/>
    </Global>
    <References>
    </References>
    <Content>
    </Content>
</mgcb>